* {
    box-sizing: border-box;
  }

/*Generics*/

.dflex {
    display: flex;
}

.dflex-column {
    display: flex;
    flex-direction: column;
}

.dgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 34px;
    grid-column-gap: 2%;
}

.white-color {
    color: #fff;
}

.flex-right {
    justify-content: start;
}

.font-size {
    font-size: 1rem;
    font-weight: 400;
}

.black-color {
    color: #272a31;
}

.light-black{
    color: #5f5c5c
}

.red-color {
    color: #ec5242;
}

.grey-color {
    color: #d3d3d3;
}

.centered {
    align-items: center;
}

a {
    color: #fff
}


/*Navbar*/
nav {
    background-color: #272a31;
    width: 100%;
    height: 40px;
}

.nav-items {
    padding-right: 15px;
}

.nav-items2 {
    padding-right: 45px;
}

.first-nav-items {
    align-items: center;
    height: 40px;
    margin-right: 20px;
}

.second-nav-items {
    padding-right: 100px;
    height: 50px;
    align-items: center;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.img-container {
    width: 50%;
    margin-right: 100px;
}

.second-nav-container {
    background-color: rgb(255,255,255);
    height: 40px;
}

.hr {

    margin-bottom: 0;
}

.tickets-button {
    width: 100px;
    height: 50px;
    border: 5px solid #ec5242;
    background-color: transparent;
    padding: 8px 16px 8px 16px;
    margin-top: 3px;
}
/*Section*/
/*Article-1*/

.background-image {  
    max-width: 100%;
    background: url(/media/bubbles.png) no-repeat bottom;
    background-size: cover;
    margin-top: 20px;
}

.first-section {
    padding: 60px 0 0 80px;
}

.first-section-h4 {
    font-size: 20px;
}

.first-section-title {
    width: 509px;
    font-size: 50px;
    font-weight: 800;
    line-height: 1em;
}

.main-box {
    max-width: 700px;
    border: 2px solid #d3d3d3;
    padding: 20px;
    background-color: #fff;
    line-height: 1.4em;
    margin: 20px 0;
}

.first-section-p2 {
    font-size: 40px;
    font-weight: 900;
}

.first-section-p3 {
    font-size: 35px;
    margin-bottom: 50px;
}

/*Article-2*/

.background-image-2 {  
    max-width: 100%;
    background: url(/media/—Pngtree—white\ point\ float_4580751.png) no-repeat bottom;
    background-size: cover;
    margin-top: 17px;
    background-color: black;
}

.article2-container {
    margin: 0 30px;
}

.article-2-p {
    margin-top: 15px;
    font-size: 11px;
    line-height: 1rem;
}

.article2-div {
    width: 200px;
    padding: 10px 25px;
    background-color: rgba(211, 211, 211, 0.1);
    margin-right: 5px;
    font-weight: 400;
}

.article-2-h1 {
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

.article-2-icons {
    font-size: 30px;
}

.main-programs {
    font-size: 25px;
}

.main-programs-hr {
    background-color: #ec5242;
    height: 2px;
    width: 50%;
}

.program-site {
    text-decoration: underline;
    padding: 20px 0 80px 0;
}


/*Article 3*/
main {
    height: 100%;
}

.article-3-container {
padding-left: 50px;
margin-bottom: auto;
}

.teachers-img {
    width: 90px;
    height: 90px;
}

.article-3-p {
    font-size: 13px;
    line-height: 1.2rem;
    padding-top: 9px;
}

.article-3 {
    padding-left: 12px;
}

.article-3-h4{
    padding-top: 9px;
    font-weight: 300;
    font-style: italic;
}

.article-3-h1 {
    font-size: 20px;
    font-weight: 800;
}

/*footer*/

.footer-section {
    background-color: rgb(211, 199, 199);
}

.picture {
    width: 120px;
    height: 100px;
    margin: 30px 30px 60px 0;
}

.footer-section2 {
    padding-top: 40px;
    background-color: rgb(57,57,57)
}

.logo-footer {
    width: 150px;
    height: 100px;
    padding-right: 20px;
}

.footer-p {
    padding-top: 45px;
}

/*About Page*/

.about-background-image {
    max-width: 100%;
    background: url(/media/bubbles.png) no-repeat bottom;
    background-size: cover;
}

.about-main-container {
    margin-top: 17px;
    
}

.about-div-header {
    margin-top: 100px;
    font-size: 50px;
    width: 750px;
    text-align: center;
    font-weight: 700;
}

.about-div-p{
    width: 700px;
    line-height: 1.3rem;
    border: solid 1px rgb(139, 133, 133);
    padding: 20px 20px;
    background-color: white;
}

.about-article1-p2{
    width: 600px;
    line-height: 1.3rem;
    font-weight: 900;
    
}

.about-article1-p2 small {
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}